.ProductDetail {
    width: 70%;
    height: 100vh;
    margin: 6em auto 0 auto;
}

h1 {
    margin-bottom: 1em;
}

.Item {
    display: flex;
}

.Item > div {
    width: 50%;
}

.Description {
    margin: 0 1em;
}

.Description h2 {
    margin-bottom: 1em;
}

.Description h3 {
    color: blue;
    margin-bottom: 1em;
    cursor: pointer;
}

.Description p {
    font-size: 1.2rem;
}

.Description button {
    margin-top: 2em;
    padding: 12px 2em;
    border: none;
    font-size: .9em;
    font-weight: 600;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.productImage img{
    width: 100%;
}