.products {
    width: 70%;
    height: 100vh;
    margin: 4em auto 0 auto;
}

.headers {
    margin: 0 1em;
    margin-bottom: 2em;
}

.headers h1 {
    text-align: center;
}

.headers h3 {
    color: blue;
    cursor: pointer;
}
.product-container {
    width: 30%;
    margin: 0 1em;
    float: left;
    margin-bottom: 2em;
    cursor: pointer;
}

.image img {
    width: 100%;
    height: 250px;
}

.details {
    margin-top: 10px;
}