.contact-us  {
    width: 70%;
    height: 100vh;
    margin: 6em auto 0 auto;
    display: flex;
}

.contact-message {
    width: 50%;
    padding: 2em;
}

.contact-message h1 {
    margin-bottom: 1em;
}

.contact-form {
    width: 50%;
}


form {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin-top: 1.2em ;
}

.addpost {
    margin-top: 2em;
}
.input-control button {
    padding: 12px;
    border: none;
    font-size: .9em;
    font-weight: 600;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.input-control input {
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid black;
}

.input-control input:focus {
    outline: 0;
}

.input-control textarea {
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid black;
}

.input-control textarea:focus {
    outline: 0;
}